nav{
    background-color: rgb(255, 217, 0);
    padding: 20px;
    margin-left: 380px;
    margin-right: 450px;
    margin-top: 50px;
    border-radius: 15px;
}

#titulo h2{
    font-size: 24px;
    margin-left: 25px;
    font-family:'Roboto Slab', serif; /* carregar a fonte no google fonte */
}

#formulario{
    margin-left: 83px;
    margin-top: 35px;
}

nav #botoes{
    margin-left: 83px;
    margin-top: 3px;
}

nav #tabela{

}

#botoes input{
    background-color: black;
    color: white
}

